{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
     <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header>
        <h1>NOSOTROS</h1>
        <h2>Evidencia 3</h2>
    </header>

    <nav>
        <ul>
            <li> <a href="{% url 'index' %}">Index </a></li>
            <li> <a href="{% url 'nosotros' %}">Nosotros </a></li>
            <li> <a href="{% url 'creador' %}">Creador</a></li>
        </ul>

    </nav>

    <article>
        <section>
            <p>Somos una empresa la cual brindamos servicios de software y hardware</p>
        </section>

        <section>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis ipsum, distinctio velit eos itaque quasi. Enim repudiandae doloremque qui natus rerum dolorum commodi, at voluptate, dolore sapiente tempora provident vitae labore, similique possimus sint excepturi necessitatibus ipsa ea perspiciatis illum?</p>
        </section>

        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusantium incidunt ipsam pariatur labore nisi! Sunt porro maiores obcaecati quam numquam voluptatem velit officiis corrupti earum, exercitationem similique autem ipsa.</p>
        </section>

         <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusantium incidunt ipsam pariatur labore nisi! Sunt porro maiores obcaecati quam numquam voluptatem velit officiis corrupti earum, exercitationem similique autem ipsa.</p>
        </section>
    </article>
    
</body>
</html>